body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#canvas {
    background-color: cadetblue;
    align-self: center;
}

.calculator {
    padding: 15px;
}

.calculator__title {
    text-align: center;
}

.calculator__main-panel {
    display: flex;
}

.calculator__control-panel {
    justify-self: center;
    flex: 1 1 auto;
}

.calculator__steps-list {
    list-style-type: decimal;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid cadetblue;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: cadetblue;
    color: #fff;
}

.btn:disabled {
    background-color: grey;
    color: #fff;
    border: 2px solid grey;
}

h1 {
    font-size: calc(24px + 8 * ((100vw - 400px) / (1140 - 400)));
}

h2 {
    font-size: calc(18px + 6 * ((100vw - 400px) / (1140 - 400)));
}

li, .btn, p {
    font-size: calc(12px + 4 * ((100vw - 400px) / (1140 - 400)));
}

@media screen and (min-width: 576px) {
    .calculator__control-panel {
        padding-left: 10px;
    }
}

@media screen and (max-width: 576px) {
    .calculator__main-panel {
        flex-direction: column;
    }
}
